html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #CBC4C4;
	color: #373434;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #9A9595;
}

#canvas{
	position: relative;
}

#mainCanvas {
  background-color: #e5e5e5;
  z-index: 0;
}

#gridOverlay {
	z-index: 1;
}

canvas {
	position: absolute;
	top: 0;
	left: 50px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container h4 {
  margin: 20px 0;
}