html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #CBC4C4;
	color: #373434;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  white-space: nowrap;
  color: #fff;
}

#header {
  margin-left: 75px;
}

#canvas{
	position: relative;
}

#mainCanvas {
  background-color: #e5e5e5;
  z-index: 0;
}

#gridOverlay {
	z-index: 1;
}

.running {
  background: rgba(204,0,0,0.2);
}

canvas {
	position: absolute;
	top: 0;
}

#menu-toggle {
  position: absolute;
  padding-right: 30px;
  top: 25%;
  left: 0;
  height: 100px;
  width: 10px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-toggle.toggled {
  left: 250px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-glow {
box-shadow: 1px 1px 12px #000000;
}

#cellsAliveLabel {
  margin-left: 200px;
  font-size: 15pt;
}

#generationLabel {
   position: absolute;
   font-size: 15pt;
}